<%- include("header", {title: title}); %>
<div class="container my-3">
    <nav class="custom-heading">
    <h1>About Me</h1>
    <p>This website is made by Seyed Mostafa Mohseni</p>
    </nav>

    <p><img src="/img/bild6.jpeg" width="700" alt="Bild för drycker" class="center"></p>
</div>

<%- include("footer"); %>
