<%- include("../partials/header", {title: title}); %>
<div class="container my-3">
    <div class="card my-5">
        <h5 class="card-header">Create a new product</h5>
        <div class="card-body">
            <form class="my-3" method="post" action="/eshop/product/create">
                <div class="mb-3">
                    <label for="product_name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="product_name" aria-describedby="product_name" value="" />
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" name="description" id="description" description="description" aria-describedby="description" value="" />
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" name="price" step=".01" id="price" price="price" aria-describedby="price" value="" />
                </div>

                <div class="mb-3">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="number" class="form-control" name="stock" id="stock" stock="stock" aria-describedby="stock" value="" />
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>

<%- include("../partials/footer"); %>
