<%- include("header", {title: title}); %>
<div class="container my-3">
    <nav class="custom-heading">
    <h1>Welcome to the exam</h1>


    <p>To show rapports, please select an option from the navigation bar above.</p>
    </nav>

</div>

<%- include("footer"); %>
