<%- include("header", {title: title}); %>
<div class="container my-3">
    <nav class="custom-heading">
    <h1>Welcome to the eSHOP</h1>


    <p>To start shopping, please select an option from the navigation bar above.</p>
    </nav>

    <p><img src="/img/bild3.jpeg" width="700" alt="Bild för drycker" class="center"></p>

</div>

<%- include("footer"); %>
