<%- include("../partials/header", { title: title }) %>

<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <nav class="custom-heading">
                <div class="card-header text-center  ">
                    <h5 class="card-title mb-0" style="font-size: 1.3rem;  font-weight: 600;"></h5>
                    <h5 class="card-title">Your order has been successfully placed!</h5>
                </div>
                <div class="card-body">
                    <p class="card-text text-center">We appreciate your support!, welcome back</p>
                </div>
                <div class="card-footer text-center">
                    <a href="/eshop/order" class="btn btn-primary">Show order</a>
                </div>
            </nav>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
